@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

body {
	font-family: 'Inter', sans-serif;
	background-color: #fcfcfc;
	color: #1c1917;
}

/* 
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700;900&display=swap');

body {
	font-family: 'Space Grotesk', sans-serif;
	background-color: #ffffff;
}

.bg-wyman-lines {
	background-image: repeating-linear-gradient(0deg, #1c1917, #1c1917 3px, #ffffff 3px, #ffffff 6px);
} */
